/*RESET*/
* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

/*COMMON*/

.clearfix::after {
    content: "" ;
    display: table ;
    clear: both ;
}

body {
    width: 80% ;
    margin: auto ;
    max-width: 800px ;
}

/*REGOLE SEZIONI*/

header {
    /* background-color: #e579e6 ; */
    height: 100px ;
    margin: 15px 0 15px 0 ;
}

#logo {
    width: 15% ;
    border-right: 1px grey solid ;
    padding-right: 10px ;
 
}

.menu {
    margin: 20px 0 ;
}

.sezioni {
    list-style-type: none ;
}

.sezioni li {
    display: inline ;
    text-transform: uppercase ;
    padding: 0 5px ;
    color: grey ;
}


.banner {
    position: relative ;
    background-color: #e1d67a ;
    margin: 0 0 15px 0 ;
    height: 350px ;
    overflow: hidden ;
    border-radius: 1em ;
}

.layover {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 100% ;
    background-color: rgba(0, 0, 0, 0.2) ;
}

.img1 {
    width: 100% ;
    height: 100% ;
    object-fit: cover ;
}

.banner-text {
    width: 50% ;
    position: absolute ;
    bottom: 2em ;
    left: 1em ;
    color: white ;
}


#contenitore2 {
    background-color: #0186ff ;
    margin: 0 0 10px 0 ;
}


.elementi {
    background-color: #abcfe7 ;
    margin-bottom: 10px ;
}

.elementi p {
    color: gray ;
}


#top {
    height: 60px ;
}


.imgsx {
    width: 100% ;
    position: relative ;
    border-radius: 1em ;
    overflow: hidden ;
}

#immaginesx {
    width: 100% ;
}

.imgcentro {
    width: 100% ;
    position: relative ;
    border-radius: 1em ;
    overflow: hidden ;
}

#immaginecentro {
    width: 100% ;
    height: 40% ;
    object-fit: cover ;
}

.imgdx {
    width: 100% ;
    position: relative ;
    border-radius: 1em ;
    overflow: hidden ;
}

#immaginedx {
    width: 100% ;
    height: 40% ;
    object-fit: cover ;
}




#sx, #centro, #dx {

    height: 300px ;
    float: left ;
}



#sx, #dx {
    width: 15% ;
}


#centro {
    width: calc(70% - 20px) ;
    margin: 0 10px ;
}


#footer {
    background-color: #8801fe ;
    height: 40px ;
}
